# Dependencies
node_modules/

# Build
dist/
src-tauri/target/

# IDE
.vscode/
.idea/
.arts/
.codeartsdoer/

# Test
src/windows/test_pose.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
